body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

#charts {
    margin-top: 20px;
}

canvas {
    margin-bottom: 20px;
}

.record {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.record label, .record input {
    margin-right: 10px;
}

.record button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}